<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="leg" class="xmlconfig.robot.Leg"/>

    <bean id="head" class="xmlconfig.robot.DefaultHead"/>

    <bean id="robot" class="xmlconfig.robot.Robot">
        <constructor-arg ref="head"/>
        <constructor-arg ref="leg"/>
    </bean>

</beans>